pkgbase = perl-dbix-admin-tableinfo
	pkgdesc = DBIx::Admin::TableInfo - A wrapper for all of table_info(), column_info(), *_key_info()
	pkgver = 3.00
	pkgrel = 1
	url = http://search.cpan.org/dist/DBIx-Admin-TableInfo
	arch = any
	license = Artistic2.0
	makedepends = perl-module-build
	makedepends = perl-test-version
	depends = perl-dbi
	depends = perl-data-dumper-concise
	depends = perl-moo
	options = !emptydirs
	source = http://search.cpan.org/CPAN/authors/id/R/RS/RSAVAGE/DBIx-Admin-TableInfo-3.00.tgz
	sha512sums = 71dd10485af2eddcc11ededb1729371bbd89af8e749cb67c76ad104c61fa4ef4de420645c4ccfb4857c71d3f30224638af5348b32cfbf6f9c852b36ae704d908

pkgname = perl-dbix-admin-tableinfo

