[Unit]
Description=nad - node agent daemon
Wants=network.target

[Service]
Environment="NODE_PATH=/usr/share/nad/node_modules"
ExecStart=/usr/sbin/nad

[Install]
WantedBy=multi-user.target
