[Desktop Entry]
Encoding=UTF-8
Name=Kwest Kingdom
GenericName=Kwest Kingdom
Comment=Graphical Hack and Slash
Exec=kwestkingdom
Icon=/usr/share/pixmaps/kwestkingdom.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Game

