pkgbase = shuriken
pkgname = shuriken
pkgver = 0.4
pkgrel = 1
pkgdesc = An open source beat slicer
url = https://rock-hopper.github.io/shuriken
license = GPL
depends = qt4
depends = aubio
depends = rubberband
depends = libsamplerate
depends = libsndfile
depends = libx11
makedepends = automake
makedepends = libtool
makedepends = pkg-config
makedepends = jack
optdepends = jack: A low-latency audio server
source = https://github.com/rock-hopper/shuriken/archive/v0.4.tar.gz
source = shuriken.desktop
source = shuriken.png
