pkgbase = kawaii-emoji-messenger
	pkgdesc = Multiplatform Facebook client based on the idea of bringing emoji on desktop.
	pkgver = 0.3.0
	pkgrel = 1
	url = http://kawaii-emoji-messenger.sourceforge.net/
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = cmake
	depends = qtwebkit
	source = http://sf.net/projects/kawaii-emoji-messenger/files/Kawaii%20Emoji%20Messenger/0.3/kawaii-emoji-messenger-0.3.0-beta.tar.bz2
	md5sums = faf19496e64c9d80a4e0af0084b4845c

pkgname = kawaii-emoji-messenger

