[Desktop Entry]
Categories=Qt;KDE;AudioVideo;Player;Video;
Comment[zh_CN]=acdown动漫下载器
Comment=acdown Anime Downloader
Exec=/usr/bin/acdown %U
GenericName[zh_CN]=AcDown
GenericName=AcDown
Icon=acdown
Name[zh_CN]=AcDown
Name=AcDown
StartupNotify=false
Terminal=false
Type=Application
X-KDE-StartupNotify=false

