pkgbase = selektor
	pkgdesc = Tor launcher and exit node chooser
	pkgver = 3.12.15
	pkgrel = 1
	url = http://www.dazzleships.net/?page_id=71
	arch = i686
	arch = x86_64
	license = GPL2
	source = selektor_3.12-15_all.tar.gz::http://www.dazzleships.net/?wpdmdl=3477
	sha1sums = 7640c8592710db1961d50affeef5d5c426bd226c

pkgname = selektor

