[Desktop Entry]
Exec=/usr/local/bin/geierlein
Type=Application
Terminal=false
Icon=/opt/geierlein/chrome/content/img/taxbird-logo-1.jpg
Categories=Office;Finance;

Name=Geierlein
GenericName=Client for German tax statement
