[Desktop Entry]
Name=Hybrid Encoder
Comment=A very complete gui for video encoding
Exec=/usr/bin/hybrid-encoder
Icon=/usr/share/pixmaps/hybrid-encoder.png
Terminal=false
Type=Application
Categories=Application;AudioVideo
