[Desktop Entry]
Name=Beanshell GUI
Comment=Java interpreter with object based scripting language features
Exec=bsh-gui %u
Icon=beany
Terminal=false
Type=Application
Categories=Development;Java;TextEditor;
StartupNotify=false
