[Unit]
Description=IRC daemon services
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
User=ircd
ExecStart=/usr/bin/hybserv

[Install]
WantedBy=multi-user.target
