pkgbase = python26-setuptools
	pkgdesc = Easily download, build, install, upgrade, and uninstall Python packages
	pkgver = 8.2
	pkgrel = 1
	url = http://pypi.python.org/pypi/setuptools
	arch = any
	license = PSF
	depends = python26
	source = http://pypi.python.org/packages/source/s/setuptools/setuptools-8.2.tar.gz
	md5sums = 631c3b2d0e6868d77fcf11d9de8fe7a7

pkgname = python26-setuptools

