pkgbase = python26-setuptools
	pkgdesc = Easily download, build, install, upgrade, and uninstall Python packages
	pkgver = 8.0.4
	pkgrel = 1
	url = http://pypi.python.org/pypi/setuptools
	arch = any
	license = PSF
	depends = python26
	source = http://pypi.python.org/packages/source/s/setuptools/setuptools-8.0.4.tar.gz
	md5sums = 26cf2e8fef0c89bd3e5f62a6158023c3

pkgname = python26-setuptools

