pkgbase = rainy
	pkgdesc = Synchronization server for use with Tomboy and other Tomboy-like clients
	pkgver = 0.5.0
	pkgrel = 2
	url = https://github.com/Dynalon/Rainy
	arch = i686
	arch = x86_64
	license = AGPL
	depends = sqlite
	depends = mono-addins
	optdepends = screen: to run as a daemon
	source = https://github.com/Dynalon/Rainy/releases/download/0.5.1/rainy-0.5.0.zip
	source = start-rainy
	source = start-rainy-daemon
	md5sums = 1d57797036518d9430468092b6292f29
	md5sums = 30633fcee954b3c0de1117d01a0247bf
	md5sums = 84b9b70cf96b4dc8953d677fe5af850a

pkgname = rainy

