[Unit]
Description=Service that distributes NMEA data over the network

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/scripts/nmead
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
