[Desktop Entry]
Name=Checkmate
Version=1
Comment=Play some Chess

Exec=checkmate
Icon=checkmate

Terminal=false
Type=Application
Categories=Game;BoardGame
