[Desktop Entry]
Version=1.0
Name=gmawallpaper
Name[pt]=gmawallpaper
Name[pt_BR]=gmawallpaper
Comment=Customize the look of your desktop
Comment[pt]=Personalizar a aparência do seu ambiente de trabalho
Comment[pt_BR]=Personalize a aparência do seu ambiente
Exec=gmawallpaper
Icon=preferences-desktop-theme
Terminal=false
Type=Application
Categories=GTK;Settings;DesktopSettings;
StartupNotify=true
