[Desktop Entry]
Name=Gnome Wave Cleaner
GenericName=Sound Editor
Comment=Sound Editor
Categories=Application;AudioVideo;
Encoding=UTF-8
Exec=gwc
Icon=gwc-logo.png
Terminal=false
Type=Application
