pkgbase = python2-ropemode
	pkgdesc = A helper for using rope refactoring library in IDEs
	pkgver = 0.2
	pkgrel = 2
	url = http://bitbucket.org/agr/ropemode
	arch = any
	license = GPL
	depends = python2-rope
	source = https://github.com/python-rope/ropemode/archive/master.zip
	md5sums = 5e1e5c132a380906b00b12432dd6236b

pkgname = python2-ropemode

