pkgbase = pixelpulse2
	pkgdesc = Software interface for the ADALM1000
	pkgver = .1
	pkgrel = 1
	url = https://github.com/signalspec/pixelpulse2
	arch = x86_64
	license = GPL
	makedepends = qt5-base
	makedepends = qt5-quick1
	makedepends = qt5-quickcontrols
	depends = qt5-base
	depends = qt5-quick1
	depends = qt5-quickcontrols
	provides = pixelpulse2
	source = pixelpulse2-.1.tar.gz
	md5sums = 9416a6359e062c72474b590a8537484e

pkgname = pixelpulse2

