pkgbase = libkdcraw-frameworks-git
	pkgdesc = A C++ interface used to decode RAW picture. KF5 Frameworks branch (GIT version)
	pkgver = r1020.7108009
	pkgrel = 1
	url = https://projects.kde.org/projects/kde/kdegraphics/libs/libkdcraw
	arch = x86_64
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = git
	depends = kio
	depends = libraw
	conflicts = libkdcraw
	source = git://anongit.kde.org/libkdcraw#branch=frameworks
	sha1sums = SKIP

pkgname = libkdcraw-frameworks-git

