[Desktop Entry]
Encoding=UTF-8
Name=QFrameCatcher
GenericName=Frame Capture
Comment=Captures frames from a video file and saves these frames as thumbnails in a single image file or inside a folder
Exec=qframecatcher
Icon=qframecatcher.xpm
Terminal=false
Type=Application
Categories=Qt;AudioVideo;
