[Desktop Entry]
Type=Application
Name=uTorrent
GenericName=BitTorrent Client
Icon=utorrent
Exec=utorrent
MimeType=application/x-bittorrent;
Categories=Network;FileTransfer;P2P;
Terminal=false