[Desktop Entry]
Name=KHacc
Comment=Simple home accounting software, KDE3 version.
Exec=khacc
Terminal=false
StartupNotify=true
Type=Application
Icon=khacc
Categories=KDE;Office;Finance;
