[Unit]
Description=Apache Webserver
After=network.target

[Service]
ExecStart=/usr/sbin/httpd -DNO_DETACH -k start

[Install]
WantedBy=multi-user.target
