pkgbase = openafs-modules-dkms
	pkgdesc = Kernel module for OpenAFS (dkms)
	pkgver = 1.6.10
	pkgrel = 4
	url = http://www.openafs.org
	install = openafs-modules-dkms.install
	arch = i686
	arch = x86_64
	license = custom:"IBM Public License Version 1.0"
	depends = dkms
	depends = openafs
	provides = openafs-modules=1.6.10
	conflicts = openafs-features-libafs
	conflicts = openafs-modules
	conflicts = openafs<1.6.6-2
	options = !emptydirs
	source = http://openafs.org/dl/openafs/1.6.10/openafs-1.6.10-src.tar.bz2
	source = dkms.conf
	source = 0001-Linux-3.17-No-more-typedef-for-ctl_table.patch
	source = 0002-Linux-3.17-Deal-with-d_splice_alias-errors.patch
	source = 0003-Linux-3.18-d_invalidate-can-no-longer-return-an-erro.patch
	source = 0004-Linux-3.18-key_type-no-longer-has-a-match-op.patch
	source = 0005-LINUX-Avoid-check-for-key_type.match-existence.patch
	source = 0006-Linux-Move-code-to-reset-the-root-to-afs-LINUX.patch
	source = 0007-Linux-d_alias-becomes-d_u.d_alias.patch
	source = 0008-Linux-d_splice_alias-may-drop-inode-reference-on-err.patch
	md5sums = f5ecfe357f6c56053f7bbab40644496e
	md5sums = 1b10cb73e18c11abbd8cb12ce72ed4aa
	md5sums = 0a45b08af617d8e3b733c93fa019980e
	md5sums = 0eb82ff62749aa17296949926cf6e4ab
	md5sums = dbd25ee8dc285bfc793a9ccdceca99c9
	md5sums = 18a72cde91893bea28fcd1c7bc266776
	md5sums = cd80bd2bbfb4de24d590e043112f562c
	md5sums = 188b81171de40a97ccad2c7fa5232418
	md5sums = 834f269b5ec5d7a5f9b7cfed031e67a1
	md5sums = 48cac6ad221c86b60b27736b484f0aeb

pkgname = openafs-modules-dkms

