pkgbase = php-qafooprofiler
	pkgdesc = Qafoo Profiler PHP Extension (unofficial)
	pkgver = 1.3.2
	pkgrel = 1
	url = https://github.com/QafooLabs/php-profiler-extension
	arch = i686
	arch = x86_64
	license = Apache
	makedepends = php
	makedepends = git
	depends = php>=5.4.0
	provides = php-qafooprofiler
	conflicts = php-qafooprofiler
	source = https://github.com/QafooLabs/php-profiler-extension/archive/v1.3.2.tar.gz
	source = https://github.com/QafooLabs/profiler/releases/download/v1.3.0/QafooProfiler.php
	sha256sums = 3f5e9d161e3dfc9c8f8ef0ebfb59e4baf413751bc2c56caf1eaab2484f86c3bf
	sha256sums = 8be18856a19cb789bab36c940863f90bd2ebb5406f826b0cae6301db90b4d389

pkgname = php-qafooprofiler

