[Desktop Entry]
Type=Application
Name=BookMoocher
GenericName=BookMoocher
Comment=Find new books on bookmooch.com
Exec=bookmoocher
Icon=bookmoocher
Terminal=false
Categories=Application;Network;Education;
StartupNotify=true