[Desktop Entry]
Type=Application
Name=Splice
Comment=A unique puzzle game involving DNA strand manipulation.
Icon=splice-hib
Exec=splice-hib
Categories=Game;LogicGame;
