pkgbase = nodejs-gittorrent
	pkgdesc = Using BitTorrent to share git repositories
	pkgver = 0.1.7
	pkgrel = 1
	url = http://gittorrent.org
	arch = any
	makedepends = python2-virtualenv
	depends = nodejs
	depends = npm
	noextract = gittorrent-0.1.7.tgz
	source = http://registry.npmjs.org/gittorrent/-/gittorrent-0.1.7.tgz
	sha1sums = c7bfab68e1e1b2b2a0aaf4ee7f966fca3d26af68

pkgname = nodejs-gittorrent

