[Desktop Entry]
Encoding=UTF-8
Name=Bitcoin
Comment=Potcoin P2P Cryptocurrency
Comment[fr]=Potcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Potcoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/potcoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin.png
MimeType=x-scheme-handler/potcoin;
Categories=Office;
