# checkip config file
email="youremail@yourserver.com"
smtp="your.smtp.server"
from="returnaddress@server.com"

log="/var/log/checkip.log"
## note that you MUST create this file manually and chown it to your user
## touch /var/log/checkip.log
## chown user:group /var/log/checkip.log

## if you use an http proxy uncomment and fill in the next line to allow curl to work
# proxy="-v myproxy:myport"

