[Unit]
Description=OpenDIAS (Document Imaging Archive System)
After=network.target

[Service]
User=opendias
Group=opendias 

Type=forking
PIDFile=/run/opendias/opendias.pid
ExecStart=/usr/bin/opendias

KillMode=process
KillSignal=SIGUSR1
Restart=always

[Install]
WantedBy=multi-user.target

