#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=xu4 - Ultima IV recreated 
GenericName=xu4
Comment=Community maintained variant of Linley's Dungeon Crawl
Icon=xu4.png
Exec=xu4
Categories=Game;RolePlaying

