pkgbase = kscreen-frameworks
	pkgdesc = KDE screen management software
	pkgver = 2.0git_d6380ef
	pkgrel = 1
	url = https://projects.kde.org/projects/extragear/libs/libkscreen
	install = kscreen-frameworks.install
	arch = i686
	arch = x86_64
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = python
	depends = kxmlgui
	depends = libkscreen-frameworks
	depends = kdeclarative
	conflicts = kscreen
	source = git://anongit.kde.org/kscreen.git#commit=d6380ef
	md5sums = SKIP

pkgname = kscreen-frameworks

