pkgbase = opendis-cpp
	pkgdesc = An open source implementation of the distributed interactive simulation.
	pkgver = 3.0
	pkgrel = 2
	url = http://open-dis.sourceforge.net/
	arch = i686
	arch = x86_64
	license = BSD
	makedepends = gcc
	makedepends = make
	makedepends = patch
	makedepends = pkg-config
	makedepends = premake3
	depends = cppunit
	depends = hawknl>=1.68
	source = http://sourceforge.net/projects/open-dis/files/open-dis/languages.zip
	source = opendis-cpp-gcc44.diff
	source = opendis-cpp-quickfix.diff
	source = opendis-cpp-premake.diff
	md5sums = 0df8dfe1ad6a9446b058953bca1b8214
	md5sums = cb9e47c8af4b454d79ec3bdd54989115
	md5sums = 0094103c1ea5c135c76b4a2600854a7e
	md5sums = 51e836c59683dfa3af0b74a5749ffd9e

pkgname = opendis-cpp

