[Unit]
Description=Watcher, a Recursive incron Alternative

[Service]
Type=forking
PIDFile=/run/watcher.pid
ExecStart=/usr/share/watcher/watcher.py start
ExecStop=/usr/share/watcher/watcher.py stop

[Install]
WantedBy=multi-user.target

