[Desktop Entry]
Encoding=UTF-8
Name=CHDK Canon Camera PTP GUI
GenericName=Camera GUI
Comment=Client created specifically for controlling CHDK cameras
Exec=chdkptp
Terminal=false
Type=Application
Categories=Graphics;RasterGraphics;2DGraphics;Photography;
StartupNotify=false
