[Unit]
Description=minidlna server
After=network.target

[Service]
Type=forking
User=nobody
ExecStart=/usr/bin/minidlna -P /run/minidlna/minidlna.pid
PIDFile=/run/minidlna/minidlna.pid

[Install]
WantedBy=multi-user.target

[Service]
CapabilityBoundingSet=
ReadOnlyDirectories=/
ReadWriteDirectories=/var/cache/minidlna /run/minidlna
Nice=15
IOSchedulingClass=idle
