[Desktop Entry]
Name=Ticketinfo
Comment=Read local public transport RFID tickets
Exec=ticketinfo
Icon=/opt/ticketinfo/eTicket.ico
Type=Application
Categories=Application;Utility;
