[Desktop Entry]
Type=Application
Exec=/usr/bin/alephone-marathon
Name=Marathon Infinity (Aleph One)
Categories=Game;ActionGame;
Comment=A FPS game by Bungie
