<TMPL_block "test" args(a, b, c)><TMPL_var a>|<TMPL_var b>|<TMPL_var c></TMPL_block>
<TMPL_block "test1" args(a)><TMPL_var a></TMPL_block>
<TMPL_block "test2" args(a)><TMPL_var a></TMPL_block>
<TMPL_block "test3" args(a)><TMPL_var a></TMPL_block>
<TMPL_block "test4" args(a)><TMPL_var SPRINTF("%d", a)></TMPL_block>

<TMPL_call "test" args("vara", "varb", "varc")>
<TMPL_call func args("vara", "varb", "varc")>
<TMPL_loop funcs><TMPL_call __CONTENT__ args("BINGO")></TMPL_loop>
<TMPL_foreach array_int as a><TMPL_call "test3" args(a)>|</TMPL_foreach>
<TMPL_call "test4" args(int)> 
