[Desktop Entry]
Name=UnixCW
Comment=CW Suite and Tutor Program
Exec=xcwcp
Icon=unixcw
MimeType=text/plain;
StartupNotify=true
Terminal=false
Type=Application
Categories=HamRadio;
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
