
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=YouTube-Zenity
Comment=A userfriendly YouTube Downloader powered by Zenity.
Categories=AudioVideo
Exec=youtube-zenity
Icon=youtube-zenity
Terminal=false
StartupNotify=false
