pkgbase = quiterss
	pkgdesc = Fast and light RSS/Atom feed reader written on Qt/С++
	pkgver = 0.17.2
	pkgrel = 1
	url = http://quiterss.org/
	install = quiterss.install
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = gettext
	makedepends = automoc4
	depends = qtwebkit
	depends = phonon-qt4
	source = http://quiterss.org/files/0.17.2/QuiteRSS-0.17.2-src.tar.bz2
	sha512sums = 988a85d53663ce42e1190d249b872be8cc98a25b253ca8b8b8eda21d2eaa1c417c6579a27a8234de7a97d9ecf33cbc39b4208f12d636c46df2ff819e5d2b25af

pkgname = quiterss

