#!/bin/bash

. /etc/rc.conf
. /etc/rc.d/functions

case "$1" in
  start)
    stat_busy "Starting Calypso"
    /usr/bin/calypso &
    if [ $? -gt 0 ]; then
      stat_fail
    else
      
      add_daemon calypso
      stat_done
    fi
    ;;
  stop)
    stat_busy "Stopping Calypso"
    [ -f /var/run/daemons/calypso ] && kill `pidof -x /usr/bin/calypso` &> /dev/null
    if [ $? -gt 0 ]; then
      stat_fail
    else
      rm_daemon calypso
      stat_done
    fi
    ;;
  restart)
    $0 stop
    sleep 2
    $0 start
    ;;
  *)
    echo "usage: $0 {start|stop|restart}"  
esac
exit 0

