[Unit]
Description=Calypso
After=network.target

[Service]
Type=simple
User=calypso
ExecStart=/usr/bin/calypso
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
