[Desktop Entry]
Type=Application
Name=GambitChess
GenericName=Chess Game
Exec=gambitchess
Icon=/usr/share/pixmaps/gambitchess.svg
Categories=Game;BoardGame
