[Desktop Entry]
Name=QMIDICurves
Comment=A MIDI-keyboard velocity response changer
Exec=qmidicurves
Icon=qmidicurves
Terminal=false
Type=Application
Categories=AudioVideo;
