#/lib/systemd/system/adb.service

[Unit]
Description=Android Debug Bridge Daemon

[Service]
Type=forking
ExecStart=/opt/android-sdk/platform-tools/adb start-server
ExecStop=/opt/android-sdk/platform-tools/adb kill-server

[Install]
WantedBy=multi-user.target