[Desktop Entry]
Type=Application
Version=1.0
Name=Funny Boat
Comment=A funny little game side scrolling game featuring a steam boat.
Icon=funnyboat.png
Exec=funnyboat
Terminal=false
StartupNotify=false
Categories=Game;ArcadeGame;
