pkgbase = wget-git
	pkgdesc = A network utility to retrieve files from the Web
	pkgver = v1.16.1
	pkgrel = 1
	url = http://www.gnu.org/software/wget/wget.html
	install = wget.install
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = perl
	makedepends = rsync
	depends = openssl
	depends = libidn
	depends = pcre
	depends = util-linux
	depends = libpsl>=0.6.2
	optdepends = ca-certificates: HTTPS Downloads,
	optdepends = libmetalink: Metalink support.
	provides = wget
	conflicts = wget
	backup = etc/wgetrc
	source = git://git.savannah.gnu.org/wget.git
	source = git://git.savannah.gnu.org/gnulib.git
	md5sums = SKIP
	md5sums = SKIP

pkgname = wget-git

