[Desktop Entry]
Name=Canon IP90 printer
Name[fr]=Imprimante Canon IP90
Comment=Configure Canon IP90 printer
Comment[fr]=Configurer l'imprimante Canon IP90
Exec=printuiip90
Terminal=false
Type=Application
Icon=printer
StartupNotify=true
Categories=GTK;System;
