[Desktop Entry]
Version=1.0
Type=Application
Name=InstallJammer User Guide
Exec='/usr/share/installjammer/Binaries/Linux-x86/xdg-utils/xdg-open' '/usr/share/installjammer/docs/InstallJammer User Guide.pdf'
