[Desktop Entry]
Name=Qutrub
GenericName=Arabic verbs conjugator
GenericName[ar]=تصريف الأفعال العربية
Comment=Arabic verbs conjugator
Comment[ar]=تصريف الأفعال العربية
Exec=qutrub
Icon=/usr/share/pixmaps/qutrub.png
Type=Application
Categories=Office;
Version=1.0
