[Desktop Entry]
Name=Audiveris
GenericName=Audiveris
Comment=Audiveris is a complete music scanner going all the way from the scanned music sheet input to the MusicXML output
Encoding=UTF-8
Exec=audiveris
Terminal=false
Icon=Audiveris
Type=Application
Categories=AudioVideo;Player;

