/* Login Dialog */

.login-dialog {
    max-height: 700px;
    min-width: 350px;
    background-gradient-direction: vertical;
	background-gradient-start: rgba(0,0,0,0.85);
	background-gradient-end: rgba(0,0,0,0.85);
	box-shadow: inset 0px 0px 2px rgba(0,0,0,0.25);
	border: 1px solid rgba(255,255,255,0.1);
}

.login-dialog-title {
    font-weight: bold;
    color: #ccc;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* User List */

.login-dialog-user-list-view {
    -st-vfade-offset: 0em;
}

.login-dialog-user-list {
    spacing: 5px;
    padding-bottom: 10px;
}

.login-dialog-user-list-item {
    padding: 5px;
    border-radius: 4px;
    background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.3);
	background-gradient-end: rgba(255,255,255,0.1);
	box-shadow: inset 0px 0px 2px rgba(255,255,255,0.3);
	border: 1px solid rgba(0,0,0,0.2);
}

.login-dialog-user-list-item:hover,
.login-dialog-user-list-item:active {
	background-gradient-start: rgba(255,255,255,0.4);
	box-shadow: inset 0px 0px 2px rgba(255,255,255,0.4);
}

.login-dialog-user-list-item .login-dialog-user-list-item-name {
    padding: 0em 1em;
    font-size: 14pt;
}

.login-dialog-user-list-item-vertical-layout {
    spacing: 0px;
}

.login-dialog-user-list-item .login-dialog-user-list-item-focus-bin {
    height: 0px;
}

.login-dialog-user-list-item-icon {
    border-radius: 3px;
    width: 64px;
    height: 64px;
}

.login-dialog-not-listed-button {
    color: #ccc;
}

.login-dialog-not-listed-button:ltr {
    text-align: right !important;
}

.login-dialog-not-listed-button:rtl {
    text-align: left !important;
}

.login-dialog-not-listed-button:hover,
.login-dialog-not-listed-button:active {
    color: #fff;
}

/* Prompt */

.login-dialog-prompt-layout {
    padding: 0px 10px;
    padding-bottom: 40px;
}

.login-dialog-prompt-fingerprint-message {
    color: #999;
}

.login-dialog-prompt-label {
    color: #ccc;
    font-weight: bold;
    padding-bottom: 5px;
}

.login-dialog-prompt-entry {
    padding: .45em;
    background-gradient-start: rgba(0,0,0,0.2);
	background-gradient-end: rgba(0,0,0,0.1);
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 4px;
    color: #ccc;
}

.login-dialog-prompt-entry:hover,
.login-dialog-prompt-entry:focus {
    background-gradient-start: rgba(0,0,0,0.25);
	background-gradient-end: rgba(0,0,0,0.15);
    color: #fff;
}

.login-dialog-prompt-entry .capslock-warning {
    icon-size: 1.09em;
    warning-color: #ccc;
}

/* Session List */

.login-dialog-session-list {
    padding: 0px 2px;
}

.login-dialog-session-list-button {
    color: #ccc;
}

.login-dialog-session-list-button:hover,
.login-dialog-session-list-button:focus,
.login-dialog-session-list-button:active {
    color: #fff;
}

.login-dialog-session-list-scroll-view {
    border-radius: 3px;
    background-gradient-direction: vertical;
	background-gradient-start: rgba(0,0,0,0.4);
	background-gradient-end: rgba(0,0,0,0.4);
    border: 1px solid rgba(255,255,255,0.1);
    padding: .5em;
}

.login-dialog-session-list-triangle {
    padding-right: .5em;
}

.login-dialog-session-list-item-box {
    spacing: .5em;
}

.login-dialog-session-list-item-dot {
    width: .75em;
    height: .75em;
}
