pkgbase = python-numba
	pkgdesc = NumPy aware dynamic Python compiler using LLVM
	pkgver = 0.16.0
	pkgrel = 1
	url = http://numba.pydata.org/
	arch = i686
	arch = x86_64
	license = BSD
	makedepends = cython
	depends = python-llvmlite
	source = https://pypi.python.org/packages/source/n/numba/numba-0.16.0.tar.gz
	md5sums = dd5da265192d82c188f47d568e4cf797

pkgname = python-numba

