[Desktop Entry]
Encoding=UTF-8
Name=Bellscoin
Comment=Bellscoin P2P Cryptocurrency
Exec=/usr/bin/bellscoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bellscoin.png
MimeType=x-scheme-handler/bellscoin;
Categories=Network;
