[Desktop Entry]
Encoding=UTF-8
Name=CodeLite
Comment=Оpen-source, cross platform IDE for the C/C++ programming languages
Comment[ru]=Свободная, кроссплатформенная среда разработки программного обеспечения для языков С/С++ с открытым исходным кодом
Exec=codelite %f
Icon=%%PREFIX%%/share/codelite/images/cubes.png
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true
