pkgbase = yi
	pkgdesc = The Haskell-Scriptable Editor
	pkgver = 0.11.1
	pkgrel = 1
	url = http://hackage.haskell.org/package/yi
	install = yi.install
	arch = i686
	arch = x86_64
	license = GPL-2
	depends = gmp
	depends = ghc
	depends = haskell-array
	depends = haskell-binary>=0.5
	depends = haskell-bytestring
	depends = haskell-cautious-file>=1.0.1
	depends = haskell-containers
	depends = haskell-data-default
	depends = haskell-directory
	depends = haskell-dlist>=0.4.1
	depends = haskell-dynamic-state>=0.1.0.5
	depends = haskell-dyre>=0.8.11
	depends = haskell-exceptions
	depends = haskell-filepath
	depends = haskell-hashable>=1.1.2.5
	depends = haskell-hint>0.3.1
	depends = haskell-lens>=4.4.0.1
	depends = haskell-mtl
	depends = haskell-old-locale
	depends = haskell-oo-prototypes
	depends = haskell-parsec
	depends = haskell-pointedlist>=0.5
	depends = haskell-process
	depends = haskell-regex-base
	depends = haskell-regex-tdfa<1.3
	depends = haskell-safe<0.4
	depends = haskell-semigroups
	depends = haskell-split<0.3
	depends = haskell-tagged
	depends = haskell-template-haskell
	depends = haskell-text
	depends = haskell-time
	depends = haskell-transformers-base
	depends = haskell-unix-compat<0.5
	depends = haskell-unordered-containers<0.3
	depends = haskell-utf8-string>=0.3.1
	depends = haskell-word-trie>=0.2.0.4
	depends = haskell-xdg-basedir<0.3
	depends = haskell-vty
	depends = haskell-yi-language>=0.1.0.7
	depends = haskell-yi-rope<0.8
	options = strip
	source = http://hackage.haskell.org/packages/archive/yi/0.11.1/yi-0.11.1.tar.gz
	md5sums = f3510fad4d23d6a78aa2b6f5a61f237f

pkgname = yi

