[Desktop Entry]
Name=ceed
Comment=Crazy Eddie's gui consolidated EDitor
Exec=ceed-gui
Icon=/usr/share/ceed/icons/application_icon.png
Terminal=false
Type=Application
Categories=Graphics;Development;
