[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=getPublicURL;copyPublicURL;
X-KDE-Submenu=Dropbox
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel


[Desktop Action getPublicURL]
Name=Get Public URL
Exec=kdialog --msgbox "`python /opt/dropbox/servicemenu/dropbox.py puburl %u`"

[Desktop Action copyPublicURL]
Name=Copy Public URL to Klipper
Exec=dbus-send --type=method_call --dest=org.kde.klipper /klipper org.kde.klipper.klipper.setClipboardContents string:"`python /opt/dropbox/servicemenu/dropbox.py puburl %u`"

