pkgbase = java-mod-player
	pkgdesc = Complete audio player written in JAVA supporting several different file types, playlists, audio streaming and so on..
	pkgver = 2.2
	pkgrel = 1
	url = http://www.javamod.de/
	arch = any
	license = GPL3
	depends = java-runtime
	source = http://www.quippy.de/download.php?file=./modplayer/javamod.jar
	source = java-mod-player.gif
	source = java-mod-player
	source = java-mod-player.desktop
	md5sums = 3ad50badae9dc5d952466b07ad2695d0
	md5sums = 741c552bc0771d1bab9d505575bd4f32
	md5sums = 3f8aa9ce78a1a7ab04e11f4bae78c6f7
	md5sums = fdec614082c5ef7eebba6088ebf38cf6

pkgname = java-mod-player

