[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Plugin Namedays
Comment=Namedays plugin for the Xfce panel
Icon=xfce4-nameday-plugin
X-XFCE-Exec=/usr/local/libexec/xfce4/panel-plugins/xfce4-nameday-plugin
#X-XFCE-Unique=true
