pkgbase = python2-ffnet
	pkgdesc = Feed-forward neural network solution for python
	pkgver = 0.7.1
	pkgrel = 1
	url = http://ffnet.sourceforge.net/
	arch = i686
	arch = x86_64
	license = GPL
	depends = python2
	options = !emptydirs
	source = https://pypi.python.org/packages/source/f/ffnet/ffnet-0.7.1.tar.gz
	md5sums = db4ed0d769ef5defb13fb4eeebbf2f73

pkgname = python2-ffnet

