pkgbase = compiz-manjaro
	pkgdesc = OpenGL compositing window manager. Includes friendly defaults, GWD theme selector and autostart for Xfce & MATE.
	pkgver = 0.9.12.0
	pkgrel = 8
	url = https://launchpad.net/compiz
	install = compiz-manjaro.install
	arch = i686
	arch = x86_64
	license = GPL
	license = LGPL
	license = MIT
	makedepends = cmake
	makedepends = intltool
	depends = boost
	depends = xorg-server
	depends = libxcomposite
	depends = startup-notification
	depends = librsvg
	depends = dbus
	depends = mesa
	depends = libxslt
	depends = fuse
	depends = glibmm
	depends = libxrender
	depends = libwnck3
	depends = pygtk
	depends = desktop-file-utils
	depends = pyrex
	depends = protobuf
	depends = metacity>=3.14
	depends = glu
	depends = libsm
	depends = dconf
	provides = compiz=0.9.12.0
	provides = compiz-core-devel=0.9.12.0
	conflicts = compiz
	conflicts = compiz09-manjaro-test
	conflicts = compiz-core-bzr
	conflicts = compiz-core-devel
	conflicts = compiz-core
	conflicts = compiz-gtk-standalone
	conflicts = compiz-xfce
	conflicts = compiz-mate
	conflicts = compiz-core-mate
	conflicts = compiz-fusion-plugins-main
	conflicts = compiz-fusion-plugins-extra
	conflicts = compiz-fusion-plugins-unsupported
	conflicts = compiz-decorator-gtk
	conflicts = compiz-decorator-kde
	conflicts = libcompizconfig
	conflicts = compizconfig-python
	conflicts = compizconfig-backend-gconf
	conflicts = compiz-bcop
	conflicts = ccsm
	replaces = compiz09-manjaro-test
	source = https://launchpad.net/compiz/0.9.12/0.9.12.0/+download/compiz-0.9.12.0.tar.bz2
	source = fix-titlebar-uses-system-font.patch::http://bazaar.launchpad.net/~albertsmuktupavels/compiz/fix-for-1404054/diff/3918
	source = metacity314-support.patch::http://bazaar.launchpad.net/~compiz-team/compiz/0.9.12/diff/3905
	source = set-gwd-default.patch
	source = focus-prevention-disable.patch
	source = compiz-manjaro-defaults.patch
	source = compiz-manjaro.gschema.override
	source = compiz-gtk-decorator-theme-selector
	source = compiz-gtk-decorator-theme.desktop
	source = compiz-xfce-autostart
	source = compiz-xfce-autostart.desktop
	source = compiz-manjaro-decoratortheme
	source = compiz-manjaro-decoratortheme.desktop
	source = compiz-manjaro-mate-decoratortheme
	source = compiz-manjaro-mate-decoratortheme.desktop
	source = xfce-theme-greybird.tar.gz::https://github.com/shimmerproject/Greybird/archive/v1.4.tar.gz
	sha1sums = 0b35a734d17189ca9f8b7ee5c0a55ba99a823518
	sha1sums = 42cb6aabb7a3d2835ef884e866a4db16f0fab048
	sha1sums = 192c0f00c5080efe4a6792e2d6e47a988490fc60
	sha1sums = be585a68eacf93a1064ea914a927623c3e774b95
	sha1sums = b74ab025a89419c23d6f01c41e414281e1a2382f
	sha1sums = 1996419be45490410887385975cbbebfa15a539a
	sha1sums = cb176e3eb46326cbef86fb794ced209a324df8f4
	sha1sums = 5c08ce73330141505327e3468fa88af35bf1296c
	sha1sums = f7e1544f8e6987f86c1b2c3e69b70d2accf95bc9
	sha1sums = d55d2efd6e90b237e779ca5a636550d48fb380e1
	sha1sums = a790b6556695b06af4eff910e7dc409aab85f9a8
	sha1sums = 36b8c620e00cfd7d9099c02589cab6906f483e53
	sha1sums = 56146a4fc169f46504eaa86ca240de34c4bb1fd8
	sha1sums = 8eff3fedffb543960ebfc19b15e95d7f7a90ee50
	sha1sums = 890b02696130b8275104aaea110b9beb3a162dce
	sha1sums = d08974fb99faee36b37ca67b615caeacbccd6984

pkgname = compiz-manjaro

