pkgbase = graylog2-web-interface
	pkgdesc = Web interface for Graylog2, an open source syslog implementation
	pkgver = 0.92.1
	pkgrel = 1
	url = http://graylog2.org
	arch = any
	license = GPL
	depends = java-runtime
	options = !strip
	backup = etc/webapps/graylog2-web-interface/graylog2-web-interface.conf
	source = http://packages.graylog2.org/releases/graylog2-web-interface/graylog2-web-interface-0.92.1.tgz
	source = graylog2-web-interface.service
	source = graylog2-web-interface.conf
	sha256sums = 152eefbf53cdda148175b960905c0b9b5095ebc5f2cf57c42289744a0903b2a0
	sha256sums = 40c4afef37d853cb2d5e75a32a1e9c7f2bf5895f65f761979af406d6efc53636
	sha256sums = aa27f060410ffd47a675e95a1caaf37689a2b8201fb252d7c1d3b5096384be0c

pkgname = graylog2-web-interface

