[Desktop Entry]
Name=columns & beams
Comment=Columns & beams is a program for the calculation of 2D structures
Icon=colbea
Exec=/opt/colbea/cbedit
Encoding=UTF-8
Terminal=false
Type=Application
Categories=Application;Science;Math;
