[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Duo
GenericName=Crazy Eight
Comment=Duo is a crazy eight / UNO card game
Comment[fr]=Un jeu de huit américain
Icon=/usr/share/duo/duo.png
Exec=/usr/bin/duo.sh
Categories=Game;CardGame;
