[Desktop Entry]
Type=Application
Version=1.0
Name=Kanatest
Comment=A simple Hiragana and Katakana drill tool
Icon=kanatest
Exec=kanatest
Terminal=false
Categories=GTK;Education;Languages;
StartupNotify=true
