[Desktop Entry]
Version=1.0
Type=Application
Name=BleachBit (Admin)
GenericName=Unnecessary file cleaner (admin mode)
GenericName[bg]=Изчистване на непотребни файлове
GenericName[es]=Limpiador de archivos innecesarios
Comment=Free space and maintain privacy
Comment[bg]=Освободете пространство и защитете поверителността си
Comment[es]=Libera espacio y mantiene la privacidad
Exec=gksu bleachbit
Icon=bleachbit-admin
Categories=GTK;System;
StartupNotify=true
