pkgbase = dfuse_pack
	pkgdesc = A DfuSe packer (USB device firmware upgrade STMicroelectronics extension)
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/OpenMusicKontrollers/dfuse_pack/
	arch = i686
	arch = x86_64
	license = ZLIB
	makedepends = cmake
	depends = efl
	source = https://github.com/OpenMusicKontrollers/dfuse_pack/archive/0.1.1.tar.gz
	md5sums = 3d08d6d81262d78d6c4aca9935ffc666

pkgname = dfuse_pack

