pkgbase = crashplan
	pkgdesc = An online/offsite backup solution
	pkgver = 3.6.4
	pkgrel = 3
	url = http://www.crashplan.com
	install = crashplan.install
	arch = i686
	arch = x86_64
	license = custom
	makedepends = cpio
	depends = bash
	depends = java-runtime-headless
	source = http://download.crashplan.com/installs/linux/install/CrashPlan/CrashPlan_3.6.4_Linux.tgz
	source = crashplan.service
	source = install.vars
	source = sysctl-crashplan.conf
	sha256sums = 63b3d2c11bc74221d20dbae136d2bdc14f1b1e3f2678294a99f06d545dbfbf76
	sha256sums = 46becdfa645fcb95c0e56f368afbaf08e4fc9b95c768aa40fb49b8fd1f54ce02
	sha256sums = c6dc626a180671d6b01f46f22158857c3fa86cd3eec79e3388284a2ab2682617
	sha256sums = 2ec3d9cea180e92f1410ff89ece85c01f79d454cfc2e814f583c0e2b3ff8ce30

pkgname = crashplan

