[Desktop Entry]
Name=Crystal Caves 1: Troubles With Twibbles
GenericName=Side-scrolling platform game
GenericName[fr]=Jeu de plateforme
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Icon=cc1
Exec=cc1
Categories=Game;ArcadeGame;


