
[Desktop Entry]
Name=Firefox Beta - Safe Mode
GenericName=Web Browser - Safe Mode
Icon=/opt/firefox-5-bin-5.0/icons/mozicon128.png
Type=Application
Categories=Application;Network;
MimeType=text/html
Encoding=UTF-8
Exec=/opt/firefox-5-bin-5.0/firefox -safe-mode %u
Terminal=false
MultipleArgs=false
StartupNotify=false
Name[C]=firefox-5-safe
