pkgbase = natrix-calc
	pkgdesc = Generic IP calculator with ability to calculate parameters of IPv4/IPv6 networks
	pkgver = 2.1
	pkgrel = 1
	url = http://sourceforge.net/projects/natrix/
	install = natrix-calc.install
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = qt4
	makedepends = gendesk
	depends = qt4
	provides = natrix-calc
	source = http://sourceforge.net/projects/natrix/files/2.1/natrix-calc_2.1-1.zip
	md5sums = 1cdfa433ec5f2573b7f117d69414c69e
	sha256sums = 2ddb835addecf1259c643f7c31059886ed4aa2f295427d6931c39eb86c87638d

pkgname = natrix-calc

