[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=WebcamStudio
Type=Application
Categories=Application;AudioVideo;
Terminal=false
Icon=/usr/share/pixmaps/webcamstudio.png
Exec=/usr/bin/webcamstudio
Comment=WebcamStudio for GNU/Linux
