#!/bin/bash
#
export KMP_AFFINITY=nowarnings,compact
 
echo -e "Edit \E[31m/etc/linpack.conf\E[37m to adjust the amount of physical memory to consume."
echo
echo -e "Starting calculation.... hit ctrl+c to stop."
echo -e "Consult \E[31m~/lin_xeonTT.txt\E[37m for results as they are caculated."

date
date >> ~/lin_xeonTT.txt
/usr/bin/xlinpack_xeonTT /etc/linpack.conf >> ~/lin_xeonTT.txt
date >> ~/lin_xeonTT.txt
echo -n "Done: "
date
