#!/bin/bash
#
export KMP_AFFINITY=nowarnings,compact
 
echo "Edit /etc/linpack.conf to adjust the amount of physical"
echo "memory linpack will use for its calculations."
echo
echo "Linpack is now running.  Consult ~/lin_xeonTT.txt for results"
echo "as they are caculated.  Hit ctrl+c to stop."

date
date > ~/lin_xeonTT.txt
/usr/bin/xlinpack_xeonTT /etc/linpack.conf >> ~/lin_xeonTT.txt
date >> ~/lin_xeonTT.txt
echo -n "Done: "
date
