# KDE Config File
[Desktop Entry]
Type=Application
Exec=wine /usr/share/mmtyping/Binary/TBOOK.EXE /usr/share/mmtyping/Binary/MMtyping.tbk
Icon=/usr/share/icons/mmtyping.ico
X-DocPath=/usr/share/doc/mmtyping/Readme.rtf
Terminal=false
Name=MMtyping
GenericName=MasterMind touch typing tutor
Comment=Learn touch typing with intelligent method
Categories=Qt;KDE;Education;Typing;
