[Desktop Entry]
Name=Wing IDE 101 v4
Comment=The intelligent development environment for python programmers
Exec=wingide4-101
Icon=wingide4-101.png
Terminal=false
Type=Application
Categories=Application;Development;
