[Desktop Entry]
Type=Application
Terminal=false
Icon=/usr/lib/RubyMine/bin/RMlogo.svg
Name=RubyMine
Exec=/usr/bin/mine %F
Comment=Runs RubyMine
Categories=Development;Java;WebDevelopment;IDE;

