pkgbase = yubikey-personalization-git
	pkgdesc = Yubico YubiKey Personalization library and tool - git checkout
	pkgver = 1.16.2.r1.g85b5edb
	pkgrel = 1
	url = https://github.com/Yubico/yubikey-personalization
	install = yubikey-personalization.install
	arch = i686
	arch = x86_64
	license = BSD
	makedepends = git
	depends = libusb
	depends = yubico-c-client
	provides = ykpers
	provides = yubikey-personalization
	conflicts = ykpers
	conflicts = yubikey-personalization
	source = git://github.com/Yubico/yubikey-personalization.git
	sha256sums = SKIP

pkgname = yubikey-personalization-git

