[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Transmission remote (java)
Comment=Cross platform remote control GUI for the Transmission BitTorrent client.
Icon=/usr/share/pixmaps/transmission-remote-java.png
Exec=transmission-remote-java
Terminal=false
StartupNotify=true
Categories=Network;FileTransfer;P2P;
