pkgbase = traverso-git
	pkgdesc = DAW with an innovative and fast Graphical User Interface
	pkgver = 3429.4f4a708
	pkgrel = 1
	url = http://traverso-daw.org
	install = traverso.install
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = cmake
	depends = jack
	depends = lame
	depends = wavpack
	depends = qt4
	depends = fftw
	depends = libmad
	depends = lilv
	provides = traverso
	conflicts = traverso
	source = traverso-git::git://git.sv.gnu.org/traverso.git
	source = traverso.1
	md5sums = SKIP
	md5sums = da7454cb60b276aa1637ad79250e9ffb

pkgname = traverso-git

