pkgbase = drgeo2
	pkgdesc = Interactive geometry tool for primary and secondary level
	pkgver = 14.12
	pkgrel = 1
	url = http://www.drgeo.eu/
	arch = any
	license = LGPL3
	depends = squeak-vm
	source = https://launchpad.net/drgeo/trunk/14.12/+download/DrGeo.app-14.12b.zip
	source = drgeo2.png
	source = drgeo2.desktop
	source = drgeo2.sh
	md5sums = e2b99968ae6c13ac7dd8271ba247fa58
	md5sums = cacac23b5173fa18411719ce352a982e
	md5sums = 494e9e8a5e28e3c5884525c4927435f5
	md5sums = eab4b38964345173b1714d2acc845598

pkgname = drgeo2

