[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Osiris
Comment=Osiris - Serverless Portal System
Exec=osiris-sps
Icon=/usr/share/icons/osiris-sps.png
Terminal=false
Type=Application
Categories=Network;Application;
Name[it_IT]=Osiris
GenericName[it_IT]=Osiris - Serverless Portal System
Comment[it_IT]=Osiris - Serverless Portal System
