[Desktop Entry]
Name=Harvest: Massive Encounter
Comment=An award-winning real-time strategy game with battles of epic proportions and a unique style of resource management and exploration.
Exec=harvest
Icon=/usr/share/pixmaps/harvest.png
Terminal=false
Type=Application
Categories=Game;
