[Desktop Entry]
Type=Application
Name=Master PDF Editor
GenericName=PDF Editor
Comment=Edit your PDF and XPS files
Exec=/opt/pdfeditor/pdfeditor
Icon=pdfeditor.png
Categories=Office;Publishing;
