pkgbase = ruby-rake
	pkgdesc = Ruby based make-like utility.
	pkgver = 10.4.1
	pkgrel = 1
	url = http://github.com/jimweirich/rake
	arch = any
	license = MIT
	depends = ruby
	noextract = rake-10.4.1.gem
	options = !emptydirs
	source = https://rubygems.org/downloads/rake-10.4.1.gem
	sha1sums = b8a28e312d2bd0b71d4af3c1362ffdfa7fe39cf9

pkgname = ruby-rake

