pkgbase = pentadactyl-hg
	pkgdesc = Vim-like five-fingered interface for Firefox
	pkgver = 6976.a34a77b2caff
	pkgrel = 1
	url = http://dactyl.sourceforge.net/pentadactyl
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = coreutils
	makedepends = mercurial
	makedepends = sh
	makedepends = zip
	makedepends = unzip
	depends = firefox>=23.0
	provides = pentadactyl
	conflicts = pentadactyl
	source = pentadactyl::hg+https://dactyl.googlecode.com
	md5sums = SKIP

pkgname = pentadactyl-hg

