
[Desktop Entry]
Type=Application
Name=qMikroIDE
GenericName=Fast, useful & tiny AVR's assembler IDE
Exec=/usr/bin/qmikroide/qMikroIDE
Categories=Development;
Terminal=false
Name[pl_PL]=qMikroIDE
