pkgbase = icedove
	pkgdesc = A libre version of Debian Icedove, the standalone mail/news reader based on Mozilla Thunderbird. This is ported from Parabola GNU/Linux.
	pkgver = 31.4.0.deb2
	pkgrel = 1
	epoch = 1
	url = http://packages.debian.org/sid/icedove
	install = icedove.install
	arch = i686
	arch = x86_64
	arch = mips64el
	license = MPL
	license = GPL
	license = LGPL
	makedepends = unzip
	makedepends = zip
	makedepends = pkg-config
	makedepends = python2
	makedepends = wireless_tools
	makedepends = yasm
	makedepends = mesa
	makedepends = libpulse
	makedepends = autoconf2.13
	makedepends = quilt
	makedepends = jquery-ui
	depends = alsa-lib
	depends = dbus-glib
	depends = desktop-file-utils
	depends = gtk2
	depends = hicolor-icon-theme
	depends = hunspell
	depends = libevent
	depends = libvpx
	depends = libxt
	depends = mime-types
	depends = mozilla-common
	depends = mozilla-searchplugins
	depends = nss
	depends = sqlite
	depends = startup-notification
	optdepends = libcanberra: for sound support
	provides = thunderbird
	conflicts = thunderbird
	conflicts = icedove-libre
	replaces = thunderbird
	replaces = icedove-libre
	options = !emptydirs
	source = http://ftp.debian.org/debian/pool/main//i/icedove/icedove_31.4.0.orig.tar.xz
	source = http://ftp.debian.org/debian/pool/main//i/icedove/icedove_31.4.0-2.debian.tar.xz
	source = mozconfig
	source = vendor.js
	source = rhbz-966424.patch
	source = icedove.desktop
	sha256sums = 7b47a053fe1f10097350d4a599a80b91eed1dc21dfcda1618b229f97493cb93c
	sha256sums = ff0db7a63f3e0648131ca59e4e3c6ff911e795030a49bcf1edb8585a01b33437
	sha256sums = 09a0041f7f12498d933284b3d3a44e19002515accaff767d145a8f404b79e86a
	sha256sums = b44f0eb82dce8a02aa71f0eab4b0d820e5383f613becc62cc995aac8638b54ec
	sha256sums = 746cb474c5a2c26fc474256e430e035e604b71b27df1003d4af85018fa263f4a
	sha256sums = 492fd3fd3442a07d2965ae69d97335c6b2c2889083c4b30c945256504ed0e585

pkgname = icedove

