pkgbase = paxd-libre
	pkgdesc = PaX exception daemon (a libre fork of paxd)
	pkgver = 1.3
	pkgrel = 2
	url = https://github.com/g4jc/paxd-libre/
	arch = i686
	arch = x86_64
	license = MIT
	depends = glibc
	provides = paxd
	provides = linux-pax-flags
	conflicts = paxd
	conflicts = linux-pax-flags
	replaces = paxd
	replaces = linux-pax-flags
	backup = etc/paxd-libre.conf
	source = https://github.com/g4jc/paxd-libre/archive/1.3.tar.gz
	source = 10-enable-pax.conf
	source = fix_issues.patch
	md5sums = 0eb1c2271cd3e893d4ed1bdf4772d714
	md5sums = a40677d2cd39ada4c2560927c67e0ea2
	md5sums = b4c7f8929ddcf94e19155d27c11d0231

pkgname = paxd-libre

