[Desktop Entry]
Name=Scalpel Sound Editor
Comment=A fast and lightweight sound editor
Exec=scalpel-sound
Icon=scalpel-sound
Terminal=false
Type=Application
Categories=AudioVideo;
