[Unit]
Description=APF firewall

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/apf -s
ExecStop=/usr/local/sbin/apf -f
StandardOutput=null

[Install]
WantedBy=multi-user.target
