[Desktop Entry]
Encoding=UTF-8
Name=PanotourPro
Comment=Create pro-quality virtual tours
Exec=panotourpro
Terminal=false
Type=Application
Categories=Application;Graphics;
