pkgbase = simspark
	pkgdesc = Spark physical simulation system
	pkgver = 0.2.4
	pkgrel = 1
	url = http://simspark.sourceforge.net
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = cmake
	makedepends = boost
	makedepends = freetype2
	makedepends = mesa
	depends = boost-libs
	depends = ruby
	depends = devil
	depends = ode
	depends = sdl
	depends = glu
	source = http://sourceforge.net/projects/simspark/files/simspark/0.2.4/simspark-0.2.4.tar.gz/download
	md5sums = 8679a043ee719e0cc75c72bbe15059d2

pkgname = simspark

