pkgbase = haskell-binary-strict
	pkgdesc = Binary deserialisation using strict ByteStrings
	pkgver = 0.4.8.1
	pkgrel = 1
	url = http://code.haskell.org/binary-low-level
	install = haskell-binary-strict.install
	arch = i686
	arch = x86_64
	license = BSD3
	depends = ghc=7.8.4-1
	depends = haskell-mtl=2.1.3.1-5
	options = strip
	options = staticlibs
	source = http://hackage.haskell.org/packages/archive/binary-strict/0.4.8.1/binary-strict-0.4.8.1.tar.gz
	sha256sums = f11a6adbed198dd607dc77f245977c6a11ef154798755b063ffc4a8c3a81b51e

pkgname = haskell-binary-strict

