[Unit]
Description=Start/Stop the SLURMDBD service.
After=mysqld.service
Before=slurmctld.service
Requires=mysqld.service

[Service]
Type=forking
ExecStart=/usr/bin/slurmdbd
ExecStop=/bin/kill $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/slurmdbd.pid

[Install]
WantedBy=multi-user.target
