#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Gunreal
Comment=popular first person shooter
Exec=/opt/ut2004/Gunreal/gunreal.sh
Icon=/usr/share/pixmaps/Unreal.ico
Terminal=false
Type=Application
Categories=Application;Game;
