[Desktop Entry]
Type=Application
Name=Pillars of Eternity
Comment=A party-based role-playing video game inspired by the Infinity Engine games
Exec=/opt/gog/pillars-of-eternity/start.sh
Icon=/opt/gog/pillars-of-eternity/game/PillarsOfEternity.png
Terminal=false
StartupNotify=false
Categories=Game;