[Unit]
Description=A high performance XMPP (Jabber) server
After=network.target

[Service]
User=openfire
Group=openfire
PrivateTmp=true
EnvironmentFile=-/etc/conf.d/openfire
ExecStart=/usr/bin/java -server $OPENFIRE_OPTS -DopenfireHome=/opt/openfire -Dopenfire.lib.dir=/opt/openfire/lib -classpath /opt/openfire/lib/startup.jar -jar /opt/openfire/lib/startup.jar
SuccessExitStatus=143 SIGKILL
RestartSec=10

[Install]
WantedBy=multi-user.target
