pkgbase = perl-image-exiftool-dev
	pkgdesc = Reader and rewriter of EXIF informations that supports raw files. Development releases.
	pkgver = 9.78
	pkgrel = 1
	url = http://www.sno.phy.queensu.ca/~phil/exiftool/
	arch = any
	license = GPL
	license = PerlArtistic
	depends = perl>5.10.0
	provides = perl-image-exiftool=9.78
	provides = perl-exiftool=9.78
	provides = perl-exiftool-dev=9.78
	conflicts = perl-image-exiftool
	conflicts = perl-exiftool
	conflicts = perl-exiftool-dev
	replaces = perl-exiftool-dev
	replaces = perl-exiftool
	options = !emptydirs
	source = http://www.sno.phy.queensu.ca/~phil/exiftool/Image-ExifTool-9.78.tar.gz
	md5sums = a0ca36792209f3ab2459ecd365a6e16a

pkgname = perl-image-exiftool-dev

