pkgbase = haskell-yi-language
	pkgdesc = Collection of language-related Yi libraries.
	pkgver = 0.1.0.8
	pkgrel = 1
	url = http://hackage.haskell.org/package/yi-language
	install = haskell-yi-language.install
	arch = i686
	arch = x86_64
	license = GPL-2
	depends = ghc
	depends = alex
	depends = derive
	depends = haskell-array
	depends = haskell-binary
	depends = haskell-containers
	depends = haskell-data-default
	depends = haskell-hashable>=1.1.2.5
	depends = haskell-lens>=4.5
	depends = haskell-oo-prototypes
	depends = haskell-pointedlist>=0.5
	depends = haskell-regex-base
	depends = haskell-regex-tdfa<1.3
	depends = haskell-template-haskell
	depends = haskell-transformers-base
	depends = haskell-unordered-containers<0.3
	options = strip
	options = staticlibs
	source = http://hackage.haskell.org/packages/archive/yi-language/0.1.0.8/yi-language-0.1.0.8.tar.gz
	md5sums = 2612e3941cb6b2fbf9d3aa7fd8a78e06

pkgname = haskell-yi-language

