[Desktop Entry]
Type=Application
Version=1.0
Name=Fly8
Comment=A portable multiplayer flight simulator
Exec=fly8
Icon=fly8
Terminal=false
Categories=Game;Simulation;
