[Unit]
Description=Invisible Internet Project
After=network.target

[Service]
Type=forking
User=i2p
PIDFile=/run/i2p/i2p.pid

ExecStart=/opt/i2p/i2psvc /opt/i2p/wrapper.config \
    wrapper.name=i2prouter wrapper.syslog.ident=i2prouter \
    wrapper.java.command=java wrapper.daemonize=TRUE \
    wrapper.pidfile=/run/i2p/i2p.pid \
    wrapper.logfile=/opt/i2p/wrapper.log \
    wrapper.script.version=3.5.17
ExecReload=/bin/kill -USR1 $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
SuccessExitStatus=0 2 3

[Install]
WantedBy=multi-user.target
