pkgbase = python2-arrow-git
	pkgdesc = Better dates and times for Python
	pkgver = 0.4.4.r34.g0b5afee
	pkgrel = 1
	url = http://crsmithdev.com/arrow/
	arch = any
	license = GPL
	makedepends = git
	depends = python2

pkgname = python2-arrow-git

