pkgbase = ruby-jiffy
	pkgdesc = A streaming-based JSON formatter in Ruby.
	pkgver = 1.0.3
	pkgrel = 1
	url = https://github.com/badeball/jiffy
	arch = any
	license = MIT
	depends = ruby
	noextract = jiffy-1.0.3.gem
	options = !emptydirs
	source = https://rubygems.org/downloads/jiffy-1.0.3.gem
	sha1sums = 7a44044a2be547738b2ed8c1d91a9bd388250343

pkgname = ruby-jiffy

