pkgbase = wmutils-opt-git
	pkgdesc = Set of window manipulation tools. (opt)
	pkgver = v0.1.r3.ge4cf962
	pkgrel = 1
	url = https://github.com/wmutils/opt
	arch = i686
	arch = x86_64
	license = ISC
	depends = libxcb
	source = wmutils-opt-git::git+https://github.com/wmutils/opt.git
	sha1sums = SKIP

pkgname = wmutils-opt-git

