pkgbase = facette
	pkgdesc = Facette is a software to display time series data from several various sources
	pkgver = 0.2.2
	pkgrel = 1
	url = http://facette.io/
	install = facette.install
	arch = x86_64
	license = BSD
	depends = rrdtool
	provides = facette
	source = https://github.com/facette/facette/releases/download/0.2.2/facette-0.2.2-linux-amd64.tar.gz
	source = facette.service
	source = facette.install
	source = .AURINFO
	md5sums = e516fb875a1e388fb4f2e038323e4488
	md5sums = 0a15a3822fc2ee56a39971528284c9c6
	md5sums = ade342a98ade039939cf354580b12651
	md5sums = SKIP

pkgname = facette

