[Desktop Entry]
Type=Application
Name=gSharkDown
GenericName=Music from grooveshark.com
Exec=python2 /usr/share/gsharkdown/gsharkdown.py
Icon=gsharkdown
Categories=AudioVideo