
[Desktop Entry]
Name=Knotter
GenericName=Celtic knotwork editor
GenericName[de]=Editor für keltische Knotenmuster
Exec=knotter
Icon=knotter
Categories=Graphics;
Terminal=false
Type=Application
Version=1.0
