[Desktop Entry]
Name=dupeGuru
Comment=Find duplicate files on your system
Exec=dupeguru-se
Icon=/usr/share/dupeguru-se/dgse_logo_128.png
Terminal=false
Type=Application
Categories=Utility;
