pkgbase = afl
	pkgdesc = a practical instrumentation-driven fuzzer
	pkgver = 0.69b
	pkgrel = 1
	url = http://lcamtuf.coredump.cx/afl/
	arch = i686
	arch = x86_64
	license = Apache
	depends = glibc
	options = !emptydirs
	source = http://lcamtuf.coredump.cx/afl/releases/afl-0.69b.tgz
	sha512sums = 8e86ff4597e00cb3297e4c413d40a4ee75fdbf1422dd081fd3739da26c8300076b58392a0097a4f35857be10ed82d66dbb4785b1bdb686e59e0db86d3130820c

pkgname = afl

