[Unit]
Description=Sanewall stateful packet filtering firewall

[Service]
Type=oneshot
ExecStart=/usr/bin/sanewall start
ExecStop=/usr/bin/sanewall stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

