pkgbase = notepadqq-bin
	pkgdesc = A Linux clone of Notepad++
	pkgver = 0.41.0
	pkgrel = 3
	url = http://notepadqq.altervista.org/wp/
	arch = i686
	arch = x86_64
	license = GPL3
	depends = qt5-webkit
	depends = hicolor-icon-theme
	depends = desktop-file-utils
	depends = coreutils>=8.20
	optdepends = notepadqq-common: Common UI libs
	provides = notepadqq=0.41.0
	conflicts = notepadqq-git
	conflicts = notepadqq
	options = !strip
	source = https://launchpad.net/~notepadqq-team/+archive/ubuntu/notepadqq/+files/notepadqq_0.41.0-0~utopic1_.deb

pkgname = notepadqq-bin

