[Desktop Entry]
Name=VDrift
GenericName=Racing Simulation
Comment="Open source racing simulation with drifting in mind"
Exec=/usr/bin/vdrift
Icon=vdrift.png
Path=.
Terminal=false
Type=Application
Categories=Game; Simulation
