[Unit]
Description=Gollum wiki server
After=network.target

[Service]
Type=simple
GitDir=
ExecStart=/usr/bin/gollum --gollum-path=${GitDir}
Restart=on-abort

[Install]
WantedBy=multi-user.target
