[Desktop Entry]
Name=Pencil (create cartoons)
Name[de]=Pencil (Zeichentrickfilme erstellen)
Exec=pencil %F
Icon=/usr/share/pixmaps/pencil.png
Type=Application
Categories=Graphics;2DGraphics;
