[Desktop Entry]
Name=Blogbridge
Comment=BlogBridge is for true info-junkies who want a better way to wrangle all their RSS feeds from blogs and news into one pretty cool organizer.
Icon=/usr/share/pixmaps/blogbridge.gif
Exec=blogbridge
Terminal=false
Type=Application
Categories=Network;Java;
