[Desktop Entry]
Encoding=UTF-8
Name=Ballistics Demo
GenericName=Ballistics Demo
Comment=Demo of a Futuristic Racing Game
Exec=/usr/bin/ballistics_demo
StartupNotify=true
Terminal=false
Type=Application
Categories=KDE;GNOME;Application;Game;
