[Unit]
Description=Catalyst's fglrx kernel' module builder
Before=umount.tartget

[Service]
SysVStartPriority=90
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/usr/bin/catalyst_build_module check
KillMode=none
Before=umount.tartget

[Install]
WantedBy=multi-user.target