[Unit]
Description=Shrew VPN client 

[Service]
ExecStart=/usr/sbin/iked
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes
SysVStartPriority=99

[Install]
WantedBy=multi-user.target
