[Desktop Entry]
Name=Sublime Text 2 URL Handler
GenericName=Text Editor
Comment=Handle URL Scheme subl:// and txmt://
Exec=sublime-url-handler %u
Terminal=false
Type=Application
MimeType=x-scheme-handler/txmt;x-scheme-handler/subl;
Icon=sublime-text-2
Categories=TextEditor;Development;Utility;
Name[en_US]=Sublime Text 2 URL Handler
