pkgbase = kruler-git
	pkgdesc = A pixel measuring tool for KDE. (GIT version)
	pkgver = r499.b6134c9
	pkgrel = 1
	url = https://www.kde.org/applications/graphics/kruler
	install = kruler-git.install
	arch = i686
	arch = x86_64
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = git
	depends = kxmlgui
	depends = knotifications
	depends = desktop-file-utils
	provides = kruler
	conflicts = kdegraphics-kruler
	conflicts = kruler
	source = git://anongit.kde.org/kruler.git
	sha1sums = SKIP

pkgname = kruler-git

