pkgbase = pyromaths
	pkgdesc = Generates math exercises with LaTeX/Pstricks (only in french)
	pkgver = 14.06
	pkgrel = 1
	url = http://www.pyromaths.org/
	arch = any
	license = GPL2
	depends = python2
	depends = python2-pyqt4
	depends = python2-lxml
	depends = python2-setuptools
	depends = texlive-pstricks
	depends = texlive-latexextra
	source = http://www.pyromaths.org/telecharger/pyromaths-14.06-sources.tar.bz2
	md5sums = 25b392015a3d35d28818354e1b8b2368

pkgname = pyromaths

