[Desktop Entry]
Name=meshmixer
Comment=Meshmixer Experimental Linux Build
Type=Application
Categories=Graphics;Development
Icon=/usr/share/icons/meshmixer.png
Exec=/usr/bin/meshmixer
Encoding=UTF-8
Terminal=false

