[Desktop Entry]
Version=1.0
Type=Application
Name=Rolisteam RPG Server
Name[fr]=Rolisteam : Serveur de JdR 
GenericName=Roleplaying Game
GenericName[fr]=Jeu de rôle
Comment=An online role game playing software.
Comment[fr]=Un système pour jouer aux jeux de rôle en ligne
Icon=
Exec=rolisteam
Categories=Game;StrategyGame;

