[Desktop Entry]
Version=1.0
Type=Application
Name=ZombieGrinder
Comment="A Zombie Shooter"
Exec=/usr/bin/zombiegrinder
Icon=zombiegrinder.png
Path=/usr/bin/
Terminal=false
StartupNotify=false
Categories=Game
