pkgbase = mingw-w64-a52dec
	pkgdesc = A free library for decoding ATSC A/52 streams (mingw-w64)
	pkgver = 0.7.4
	pkgrel = 1
	url = http://liba52.sourceforge.net/
	arch = any
	license = GPL2
	makedepends = mingw-w64-configure
	depends = mingw-w64-crt
	options = !strip
	options = !buildflags
	options = staticlibs
	source = http://liba52.sourceforge.net/files/a52dec-0.7.4.tar.gz
	source = a52dec-0.7.4-build.patch
	md5sums = caa9f5bc44232dc8aeea773fea56be80
	md5sums = fa16f224a7dceb7613824380abef0052

pkgname = mingw-w64-a52dec

