[Desktop Entry]
Version=1.0
Type=Application
Categories=System;Utility;Archiving;
Name=BackerUpper
GenericName=Backup Tool
Comment=Backup Tool
TryExec=backer
Exec=backer
Icon=tar
