[Desktop Entry]
Version=1.0
Name=Yet Another Pacman Gui (GTK)
GenericName=Pacage's Manager Forntend
Comment=Frontend for Pacman package's manager
Exec=gksu yapg
Path=/usr/share/yapg/
Icon=yapg
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
