*.o
lib*.a
made.tmp
res/sim
src/tclx/runtcl
src/tclx/runwish
src/tclx/src/tclxgdat.c
src/tclx/tcl
src/tclx/tcldef
src/tclx/tcllib/tcl.tlb
src/tclx/tcllib/tk.tcl
src/tclx/tcllib/wishx.tcl
src/tclx/tkucbsrc/main.c
src/tclx/tkucbsrc/tkevent.c
src/tclx/ucbsrc/tclbasic.c
src/tclx/ucbsrc/tclexpr.c
src/tclx/wish
src/tk/wish
src/sim/sim
