pkgbase = mangaedenbatchdownloader
	pkgdesc = A simple tool to download in batch manga chapters from MangaEden.com
	pkgver = 5.1
	pkgrel = 1
	url = http://www.redsquirrel87.com/MangaEden.html
	install = edenbatchdownloader.install
	arch = any
	license = freeware
	depends = java-runtime
	source = https://bitbucket.org/Red_Squirrel/eden-batch-downloader/downloads/edenbatchdownloader-AUR-5.1.tar.gz
	md5sums = d86d79b43354558a182620e40a98dc21

pkgname = mangaedenbatchdownloader

