[Desktop Entry]
Version=1.0
Type=Application
Name=Blorple
Name[fr]=Blorple
GenericName=Blorple IF browser
GenericName[fr]=Blorple navigateur IF
Comment=An Interactive Fiction metadata browser
Comment[fr]=Un navigateur pour les metadonnées des fictions interactives
Icon=blorple.png
Exec=blorple
Categories=Game;RolePlaying;

