pkgbase = oculus-wine-wrapper-git
	pkgdesc = A wrapper to allow you to run Oculus Rift Windows games in Wine
	pkgver = 0.4.3.r0.0d793a9
	pkgrel = 1
	url = https://jspenguin.org
	arch = x86_64
	license = MIT
	makedepends = mingw-w64-gcc
	makedepends = mingw-w64-binutils
	depends = oculus-rift-sdk-jherico-git
	depends = wine
	optdepends = oculus-udev: Rules to let users access the Oculus Rift
	conflicts = oculus-wine-wrapper
	options = !emptydirs
	source = oculus-wine-wrapper::git+https://github.com/jspenguin/oculus-wine-wrapper.git
	sha256sums = SKIP

pkgname = oculus-wine-wrapper-git

