pkgbase = dragonplayer-frameworks-git
	pkgdesc = A multimedia player where the focus is on simplicity, instead of features
	pkgver = r617.361e6f9
	pkgrel = 1
	url = http://kde.org/applications/multimedia/dragon
	install = dragonplayer-frameworks-git.install
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = kdoctools
	makedepends = python
	depends = kparts
	provides = dragonplayer
	conflicts = kdemultimedia-dragonplayer
	conflicts = dragonplayer
	source = git://anongit.kde.org/dragon.git#branch=frameworks
	sha256sums = SKIP

pkgname = dragonplayer-frameworks-git

