[Desktop Entry]
Name=Lucas Chess
Exec=lucas-chess-wine
Type=Application
StartupNotify=true
Icon=/usr/share/pixmaps/lucas-chess-wine.png
Categories=Game;BoardGame
