[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/usr/share/MultiBoot-v3/gui-multiboot-liveusb.sh
Name=MultiBoot
Comment=MultiBoot
Icon=/usr/share/pixmaps/multiboot-v3-multiboot.png
Categories=GNOME;GTK;Utility;
