pkgbase = kite
	pkgdesc = A minimalistic, easy to learn programming language with a small memory footprint
	pkgver = 0.2.0
	pkgrel = 1
	url = http://freecode.com/projects/kite/
	install = kite.install
	arch = i686
	arch = x86_64
	license = BSD
	makedepends = boost
	makedepends = llvm
	options = !libtool
	source = http://www.kite-language.org/files/kite-llvm-0.2.0.tar.gz
	md5sums = 6523760b157f5bb8dee8edeb4bd33ee8

pkgname = kite

