[Desktop Entry]
Name=Machinarium
GenericName=A point-and-click adventure game by the creators of Samarost
Version=3
Type=Application
Categories=Game;
Icon=/usr/share/icons/machinarium.png
Exec=/usr/bin/machinarium
Encoding=UTF-8
Terminal=false
