[Unit]
Description=Prey Tracker Timer
Documentation=file:/usr/share/prey/README

[Timer]
OnBootSec=1min
OnUnitActiveSec=20min
Unit=prey-tracker.service

[Install]
WantedBy=multi-user.target
