[Desktop Entry]
Encoding=UTF-8
Version=0.1
Name=Wakoopa
GenericName=Desktop Usage Tracker
Type=Application
Exec=wakoopa
Icon=wakoopa
Categories=Utility;Network;
Comment=Track your desktop application usage

