pkgbase = divfixpp-svn
	pkgdesc = A tool for repairing corrupted AVI file streams
	pkgver = 98
	pkgrel = 1
	url = http://divfixpp.sourceforge.net/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = gettext
	makedepends = libwebkit
	makedepends = subversion
	depends = wxgtk
	provides = divfixpp
	conflicts = divfixpp
	source = divfixpp-svn::svn+http://svn.code.sf.net/p/divfixpp/code/trunk
	sha256sums = SKIP

pkgname = divfixpp-svn

