[Desktop Entry]
Name=T.E.G. client
Name[es]=Cliente T.E.G.
Name[de]=T.E.G. Client
Comment=Tenes Empanadas Graciela client
Comment[es]=Cliente del Tenes Empanadas Graciela
Comment[de]=Client für Tenes Empanadas Graciela
Exec=tegclient
Icon=/usr/share/pixmaps/teg_icono.png
Terminal=false
Type=Application
Categories=GTK;GNOME;Game;StrategyGame;
