[Desktop Entry]
Encoding=UTF-8
Name=KlondikeCoin
Comment=KlondikeCoin P2P Cryptocurrency
Exec=/usr/bin/klondikecoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/klondikecoin.png
MimeType=x-scheme-handler/klondikecoin;
Categories=Network;
