[Desktop Entry]
Name=yaflight
Comment=A minmal and easy launcher for FlightGear
Exec=yaflight.gambas
Icon=yaflight
Terminal=false
Type=Application
StartupNotify=true
Categories=Game;Simulation;
