pkgbase = qtspell
	pkgdesc = Spell checking for Qt text widgets
	pkgver = 0.5.0
	pkgrel = 1
	url = https://github.com/manisandro/qtspell
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = cmake
	depends = enchant
	source = https://github.com/manisandro/qtspell/releases/download/0.5.0/qtspell-0.5.0.tar.xz
	sha256sums = fec5a8848082aedfa31114f44cb1af2e7cae4abb713bf703f6eed2860611792b

pkgname = qtspell

