#!/bin/bash

PATH=/usr/sbin:/usr/bin:/sbin:/bin:/opt/java/jre/bin
DESC="subsonic server"
NAME=subsonic
DAEMON=/usr/bin/subsonic
DAEMON_ARGS=""
PIDFILE=/var/run/$NAME.pid

. /etc/rc.conf
      get_pid
      echo "Done. PID=$PID" 
. /etc/rc.d/functions

case "$1" in
  start)
    stat_busy "Starting subsonic server..."
    $DAEMON &
    if [ $? -gt 0 ]; then
      stat_fail
     else
      add_daemon $NAME
#      pidof $NAME > $PIDFILE
      sleep 10
      ps ax |grep java |grep subsonic |cut -d " " -f 2 > $PIDFILE
#      ps fax | grep -i subsonic | grep -v grep | grep -v subsonic.sh | awk '{print $1}' > $PIDFILE
      stat_done
    fi
    ;;
  stop)
    stat_busy "Stopping subsonic server..."
    if [ -a $PIDFILE ]; then
      PID=`cat $PIDFILE`
      kill $PID > /dev/null
      if [ $? -gt 0 ]; then
        stat_fail
      else
        rm $PIDFILE
        rm_daemon $NAME
        stat_done
      fi
    else
      pkill $NAME
      if [ $? -gt 0 ]; then
        stat_fail
      else
        stat_done
      fi
    fi
    ;;
  restart|force-reload)
    $0 stop
    sleep 1
    $0 start
    ;;
esac
exit 0