[Unit]
Description=Atheme IRC services daemon
Requires=network.target
Wants=ircd.service
After=network.target ircd.service
 
[Service]
Type=forking
PIDFile=/var/lib/atheme/atheme.pid
ExecStart=/usr/bin/atheme-services
Restart=on-failure
User=atheme
Group=atheme
 
[Install]
WantedBy=multi-user.target
