pkgbase = lib32-libnl
	pkgdesc = Library for applications dealing with netlink sockets
	pkgver = 3.2.25
	pkgrel = 1
	url = http://www.infradead.org/~tgr/libnl/
	arch = x86_64
	license = GPL
	makedepends = gcc-multilib
	depends = lib32-glibc
	depends = libnl=3.2.25
	source = http://www.infradead.org/~tgr/libnl/files/libnl-3.2.25.tar.gz
	sha256sums = 8beb7590674957b931de6b7f81c530b85dc7c1ad8fbda015398bc1e8d1ce8ec5

pkgname = lib32-libnl

