pkgbase = eclipse-java-future
	pkgdesc = Eclipse IDE for Java Developers (future release).
	pkgver = 4.5.0M3
	pkgrel = 2
	url = http://www.eclipse.org
	install = eclipse-java.install
	changelog = eclipse-java-future.ChangeLog.markdown
	arch = i686
	arch = x86_64
	license = EPL
	makedepends = unzip
	makedepends = patch
	depends = java-environment>=6
	depends = gtk3
	depends = xulrunner>=1.9.0.10
	provides = eclipse
	conflicts = eclipse
	conflicts = eclipse-java
	replaces = eclipse
	replaces = eclipse-java
	source = http://ftp.osuosl.org/pub/eclipse/technology/epp/downloads/release/mars/M3/eclipse-java-mars-M3-linux-gtk-x86_64.tar.gz
	source = eclipse.sh
	source = eclipse.desktop
	source = eclipse.svg
	sha256sums = 5ca464a835dad0f072c03576a2effac3a18fa6193f9b5b28ecf179cd00cc3439
	sha256sums = 2f35fd3ba09c32c0f98421c6b77a1a31d72370d2fb69e99fbc0a438ba821f8bd
	sha256sums = 4eb2189c96fcfa340886b049b34dc3636d7b2bfa865140dc72edb61455d900c3
	sha256sums = 6fe3ab198af244f9c8c2463b6837855506e811f61e5fd8ac7c9d5fe348830a14

pkgname = eclipse-java-future

