#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Songbird
Type=Application
Comment=A media player based on Mozilla
Exec=/opt/songbird/songbird
Icon=Songbird
Categories=AudioVideo;Player;
