[Desktop Entry]
Name=launch4j
Comment=A Java Wrapper
Icon=/usr/share/launch4j/src/images/build.png
Exec=/usr/share/launch4j/launch4j
Terminal=false
Type=Application
Categories=Application;Development
StartupNotify=true
