[Desktop Entry]
Encoding=UTF-8
Name=Shadowgrounds DEMO
Comment=Science fiction shoot 'em up in third person perspective
Exec=/usr/bin/shadowgrounds-demo
Icon=/usr/share/pixmaps/shadowgrounds-demo
Terminal=false
Type=Application
StartupNotify=false
Categories=Game;
