[Desktop Entry]
Type=Application
Name=2ManDVD
Terminal=false
Exec=2ManDVD
Icon=2mandvd
Categories=AudioVideo;
GenericName=DVD Authoring
GenericNAme[de]=DVD-Authoring
GenericName[en]=DVD Authoring
GenericName[es]=Crear un DVD
GenericName[fr]=Création de DVD
GenericNAme[el]=Δημιουργία DVD
GenericName[it]=Creazione di DVD
GenericName[pl]=Tworzenie DVD
GenericName[pt]=Criação de DVD
Comment=Tool for creating DVD Video
Comment[de]=Tool für die Erstellung von DVD-Video
Comment[en]=Tool for creating DVD Video
Comment[es]=Utilidad para crear DVDs de video
Comment[fr]=Outil de création de DVD vidéo
Comment[el]=Εργαλείο δημιουργίας DVD βίντεο
Comment[it]=Strumento per la creazione di DVD video
Comment[pl]=Narzędzie do tworzenia DVD Video
Comment[pt]=Ferramenta para criar DVD-Vídeo