[Desktop Entry]
Name=Firefox 4 - Mode protégé
GenericName=Navigateur internet - Mode protégé
Icon=firefox
Type=Application
Categories=Application;Network;
MimeType=text/html
Encoding=UTF-8
Exec=firefox4-rc1-fr -safe-mode %u
Terminal=false
MultipleArgs=false
StartupNotify=false
