[Unit]
Description=remctl command execution service
After=syslog.target

[Service]
ExecStart=/usr/sbin/remctld -m -F
ExecReload=/bin/kill -HUP $MAINPID
