#!/bin/bash
# Niklas Schmuecker (IRC: nisc) <nschmuecker (gmail)>

 . /etc/rc.conf
 . /etc/conf.d/brightd
 . /etc/rc.d/functions

 case "$1" in
   start)
     stat_busy "Starting brightd"
     # setting permissions
     chgrp brightd /sys/class/backlight/*/brightness
     chmod g+w /sys/class/backlight/*/brightness
     chgrp brightd /dev/input/event*

     /usr/sbin/brightd $BRIGHTD_ARGS -r $BRIGHTD_FIFO &>/dev/null
     if [ $? -ne 0 ]; then
       stat_fail
     else
       add_daemon brightd
       stat_done
     fi
     ;;
   stop)
     stat_busy "Stopping brightd"
     # re-setting permissions
     chgrp root /sys/class/backlight/*/brightness
     chmod g-w /sys/class/backlight/*/brightness
     chgrp root /dev/input/event*

     kill -9 `pidof /usr/sbin/brightd` &>/dev/null
     rm ${BRIGHTD_FIFO} &>/dev/null
     rm_daemon brightd
     stat_done
     ;;
   restart)
     stat_busy "Restarting brightd ..."
     $0 stop
     sleep 1
     $0 start
     stat_done
     ;;
   *)
     echo "usage: $0 {start|stop|restart}"
 esac
