[Desktop Entry]
Version=1.0
Type=Application
Name=Jotify
GenericName=Spotify music player
Comment=A Spotify client written in Java
TryExec=/usr/bin/jotify
Exec=jotify
Icon=/usr/share/pixmaps/jotify.xpm
Categories=Multimedia;
