pkgbase = keys
	pkgdesc = Password manager for linux systems with ncurses interface. It bases its security around strong GPG technology. Keys permits one to store securely passwords and credentials in gpg's encrypted files.
	pkgver = 1.0.0
	pkgrel = 1
	url = https://sf.net/p/keys
	arch = any
	groups = utils
	license = GPL
	depends = rdesktop
	depends = gnupg
	depends = xdotool
	depends = xsel
	depends = dialog
	depends = coreutils
	depends = sed
	depends = gawk
	depends = grep
	depends = sshpass
	optdepends = firefox: default supported web browser used to open/logon to web sites with provided credentials
	source = keys-1.0.0.tar.gz
	md5sums = 72d2da4923d1f012c4c46d65c54c6c05

pkgname = keys

