pkgbase = perl-sharyanto-file-util
	pkgdesc = File-related utilities
	pkgver = 0.58
	pkgrel = 1
	url = https://metacpan.org/release/SHARYANTO-File-Util
	arch = any
	license = PerlArtistic
	license = GPL
	checkdepends = perl-file-chdir
	checkdepends = perl-file-slurp-tiny
	depends = perl-file-chdir
	depends = perl-file-slurp-tiny
	options = !emptydirs
	source = https://cpan.metacpan.org/authors/id/P/PE/PERLANCAR/SHARYANTO-File-Util-0.58.tar.gz
	sha512sums = a6e83e1658bbaaa56462d4f1fb46dae01a5c12790aabb03c2e43f1443ce8c2d97523ec15cea1e31e2a90be58917e7f20815d927f7d4bc8147af505e4ada585e2

pkgname = perl-sharyanto-file-util

