[Desktop Entry]
Name=pySolo-Video-Acquire
X-GNOME-FullName=pySolo Video Acquire
Comment=GUI to pySolo Video Extension Acquire
Exec=/opt/pysolo-video/pvg_acquire.py
Terminal=false
Type=Application
Icon=/opt/pysolo-video/pysolo-video.svg
Categories=Biology;Science;Education;
