[Desktop Entry]
Name=Mount Helper
Name[ast]=Encontu de montáu
Name[bg]=Помощник за монтиране
Name[ca]=Ajudant de muntatge
Name[ca@valencia]=Ajudant de muntatge
Name[cs]=Pomocník s připojováním
Name[da]=Monteringshjælper
Name[de]=Einhänge-Assistent
Name[en_GB]=Mount Helper
Name[es]=Ayudante de montado
Name[eu]=Muntatzearen laguntzailea
Name[fa]=راهنمای سوارکردن
Name[fr]=Assistant de montage
Name[gl]=Axudante de montado
Name[he]=מסייע העיגון
Name[hu]=Csatolássegítő
Name[id]=Pembantu pengait
Name[it]=Helper per mount
Name[ko]=마운트 도움
Name[lt]=Prijungimo pagalbininkas
Name[lv]=Montēšanas palīgs
Name[nb]=Hjelper for montering
Name[nl]=Hulpmiddel voor aankoppelen
Name[or]=ମାଉଣ୍ଟ ସହାୟକ
Name[pa]=ਮਾਊਂਟ ਸਹਾਇਕ
Name[pl]=Program pomocniczy montowania
Name[pt]=Assistente de Montar
Name[pt_BR]=Assistente de montagem
Name[ru]=Помощник монтирования
Name[sl]=Pomočnik priklopa
Name[sr]=Помоћник качења
Name[sr@latin]=Pomoćnik kačenja
Name[sv]=Monteringshjälpare
Name[ta]=ஏற்றல் உதவியாளர் 
Name[te]=మౌంట్ సహాయిక
Name[zh_CN]=挂载助手
Name[zh_HK]=掛載協助程式
Name[zh_TW]=掛載協助程式
Comment=Automount and autorun plugged devices
Comment[ast]=Montar y executar automáticamente preseos coneutaos
Comment[bg]=Автоматично монтиране на устройствата и пускане на програмите от тях
Comment[ca]=Munta i executa automàticament els dispositius connectats
Comment[ca@valencia]=Munta i executa automàticament els dispositius connectats
Comment[cs]=Automatické připojování a spouštění zapojených zařízení
Comment[da]=Montér og kør tilsluttede enheder automatisk
Comment[de]=Angeschlossene Geräte automatisch einhängen und Programme ausführen
Comment[en_GB]=Automount and autorun plugged devices
Comment[es]=Montar y ejecutar automáticamente dispositivos conectados
Comment[eu]=Automatikoki muntatu eta exekutatu konektatutako gailuak
Comment[fa]=سوارکردن خودکار و اجرای خودکار دستگاه‌های متصل شده
Comment[fr]=Montage et lancement automatiques des appareils connectés
Comment[gl]=Montar e executar automaticamente dispositivos conectados
Comment[he]=עיגון והפעלה אוטומטית של התקנים בעת חיבורם
Comment[hu]=Csatlakoztatott eszközök automatikus csatolása és futtatása
Comment[id]=Kaitkan dan jalankan otomatis perangkat yang ditancapkan
Comment[it]=Monta e manda in esecuzione automaticamente i dispositivi collegati
Comment[ko]=연결된 장치 자동 마운트 및 자동 실행
Comment[lt]=Automatiškai prijungti ir paleisti prijungtus įrenginius
Comment[lv]=Automātiski montēt un palaist pieslēgtās ierīces
Comment[nb]=Monter og kjør tilkoblede enheter automatisk
Comment[nl]=Apparaten aankoppelen en autorun uitvoeren
Comment[or]=Automount ଏବଂ autorun ପ୍ଲଗହୋଇଥିବା ଉପକରଣଗୁଡିକ
Comment[pa]=ਪਲੱਗ ਕੀਤੇ ਜੰਤਰ ਆਪੇ ਮਾਊਂਟ ਕਰੋ ਅਤੇ ਆਪੇ ਚਲਾਉ
Comment[pl]=Automatyczne montowanie i uruchamianie podłączonych urządzeń
Comment[pt]=Montar e executar automaticamente dispositivos ligados
Comment[pt_BR]=Montar e executar automaticamente dispositivos conectados
Comment[ru]=Автомонтируемые и автозапускаемые подключаемые устройства
Comment[sl]=Samodejno priklopi in samodejno zaženi priklopljene naprave
Comment[sr]=Самостално прикачите и покрените прикључене уређаје
Comment[sr@latin]=Samostalno prikačite i pokrenite priključene uređaje
Comment[sv]=Anslutna enheter som automatiskt monteras eller körs
Comment[ta]=சொருகிய சாதனங்களை தானியங்கியாக ஏற்றி இயக்குக
Comment[te]=స్వీయపుమౌంట్ మరియు స్వీయముగా నడుపువంటి ప్లగ్‌డ్ పరికములు
Comment[zh_CN]=自动挂载并运行插入的设备
Comment[zh_HK]=自動掛載並執行連接的裝置
Comment[zh_TW]=自動掛載並執行連接的裝置
Exec=/usr/lib/gnome-settings-daemon/gnome-fallback-mount-helper
Icon=drive-optical
Terminal=false
Type=Application
Categories=
NoDisplay=true
OnlyShowIn=GNOME;
X-GNOME-Autostart-Notify=true
AutostartCondition=GNOME3 unless-session gnome
