pkgbase = python2-coinkit
	pkgdesc = Keypair, address, brain wallet & deterministic wallet creation for Bitcoin, Litecoin, Dogecoin, Namecoin and others
	pkgver = 0.7.7
	pkgrel = 1
	url = https://github.com/onenameio/coinkit
	arch = any
	license = MIT
	makedepends = python2-setuptools
	depends = python2
	depends = python2-characters
	depends = python2-ecdsa
	depends = python2-pybitcointools
	depends = python2-utilitybelt
	options = !emptydirs
	source = https://pypi.python.org/packages/source/c/coinkit/coinkit-0.7.7.tar.gz
	md5sums = e257242685bc66350917469e8c0f314d
	sha256sums = c5ff2eb50b327762780c035efda8d32b70828793aeef494f3b05a8a03acbd99e

pkgname = python2-coinkit

