[Unit]
Description=Video Disk Recorder
After=syslog.target network.target lircd.service

[Service]
PIDFile=/run/runvdr.pid
ExecStart=/usr/bin/runvdr
ExecReload=/usr/bin/runvdr --restart
ExecStop=-/usr/bin/runvdr --terminate

[Install]
WantedBy=multi-user.target
