[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Rigs of Rods (config)
Comment=Configuration utility for Rigs of Rods
Icon=RoR.png
Exec=/opt/rigsofrods/rorconfig
Terminal=false
Categories=Application;Game;
