#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/opt/NewEraCracker-LOIC-3a89b36/LOIC.ico
Name[en_US]=LOIC
Exec=mono /opt/NewEraCracker-LOIC-3a89b36/bin/Debug/LOIC.exe
Name=LOIC
Icon=/opt/NewEraCracker-LOIC-3a89b36/LOIC.ico
Categories=Application;Network;
