[Desktop Entry]
Encoding=UTF-8
Name=Viber
Comment=Free calls, text and picture sharing with anyone, anywhere!
Exec=/opt/Viber/Viber.sh
Icon=Viber
Terminal=false
Type=Application
Categories=Network;AudioVideo
