[Desktop Entry]
Name=Dragon Memory
GenericName=Dragon Memory
Comment=Simple and fun memory game.
Exec=dragonmemory
Icon=/usr/share/pixmaps/dragonmemory.png
Terminal=false
Type=Application
Categories=Game;
