pkgbase = pamac-aur
	pkgdesc = A Gtk3 frontend for libalpm
	pkgver = 2.0
	pkgrel = 3
	url = http://wiki.manjaro.org/index.php?title=Pamac
	install = pamac.install
	arch = any
	license = GPL3
	makedepends = gettext
	makedepends = itstool
	makedepends = vala
	depends = glib2>=2.42
	depends = json-glib
	depends = libsoup
	depends = dbus-glib
	depends = polkit
	depends = yaourt
	depends = vte3>=0.38
	depends = gtk3>=3.14
	depends = libnotify
	depends = desktop-file-utils
	optdepends = polkit-gnome: needed for authentification in Cinnamon, Gnome
	optdepends = lxsession: needed for authentification in Xfce, LXDE etc.
	provides = pamac
	conflicts = pamac
	options = !emptydirs
	backup = etc/pamac.conf
	source = pamac-2.0-3.tar.gz::https://github.com/manjaro/pamac/archive/8a3fa7ccb5854811220ad248a8ab4efb6c15117d.tar.gz
	sha256sums = 600f334f9910595d12c48319ac6c53a375f92599f213d35820e043af7b8c6e1f

pkgname = pamac-aur

