pkgbase = sope
	pkgdesc = application server used by SOGo
	pkgver = 2.2.12a
	pkgrel = 1
	url = http://www.sogo.nu/files/downloads/SOGo/Sources/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = gcc-objc
	depends = gnustep-base
	options = !strip
	source = http://www.sogo.nu/files/downloads/SOGo/Sources/SOPE-2.2.12a.tar.gz
	source = sope_configure.patch
	md5sums = adc67db833afad9950bc153ac717851e
	md5sums = 2ebc9e430d1b16d4b607c287d5003d8c

pkgname = sope

