[Desktop Entry]
Name=Namoroka (firefox-testing-src)
GenericName=Web Browser
Icon=firefox-testing-src-icon
Type=Application
Categories=Application;Network;
MimeType=text/html
Encoding=UTF-8
Exec=firefox-testing-src %u
Terminal=false
MultipleArgs=false
StartupNotify=false
