pkgbase = ttf-ume
	pkgdesc = Free Japanese Gothic/Mincho Font
	pkgver = 0.467
	pkgrel = 1
	url = http://sourceforge.jp/projects/ume-font/
	install = ttf.install
	arch = any
	license = custom
	depends = fontconfig
	depends = xorg-font-utils
	source = http://jaist.dl.sourceforge.jp/ume-font/22212/umefont_467.tar.xz
	md5sums = 55bcd9530d4c9034073db3a625a80011

pkgname = ttf-ume

