pkgbase = deadbeef-mpris2-plugin
	pkgdesc = MPRISv2 plugin for the DeaDBeeF music player
	pkgver = 1.4
	pkgrel = 1
	url = https://github.com/Serranya/deadbeef-mpris2-plugin
	arch = i686
	arch = x86_64
	license = GPL2
	depends = glib2
	depends = deadbeef
	conflicts = deadbeef-mpris-plugin
	source = https://github.com/Serranya/deadbeef-mpris2-plugin/releases/download/v1.4/deadbeef-mpris2-plugin-1.4.tar.xz
	md5sums = 07362bdbdfbf2f03360766208cd1447e

pkgname = deadbeef-mpris2-plugin

