pkgbase = falf
	pkgdesc = Music player for KDE (based on Xine)
	pkgver = 1.3
	pkgrel = 1
	url = http://falf.sourceforge.net/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = patch
	depends = kdelibs3
	depends = taglib
	depends = qt3
	depends = xine-lib
	source = http://sourceforge.net/projects/falf/files/FALF%20Player%20stable/1.3/falf-1.3.tar.bz2
	source = falf-build.patch
	md5sums = d26042a930c6a166630591abbeffe6fb
	md5sums = c8a715550b14277db8d2bee326f8b5c5

pkgname = falf

