[Desktop Entry]
Type=Application
Version=1.0
Name=Light Up
Comment=Place bulbs to light up all the squares
Icon=puzzles-lightup
TryExec=lightup
Exec=lightup
Terminal=false
Categories=Game;LogicGame;
StartupWMClass=lightup
