[Desktop Entry]
Type=Application
Version=1.0
Name=Towers
Comment=Complete the latin square of towers in accordance with the clues
Icon=puzzles-towers
TryExec=towers
Exec=towers
Terminal=false
Categories=Game;LogicGame;
StartupWMClass=towers
