[Desktop Entry]
Comment=
Encoding=UTF-8
Exec=/opt/freeorion-svn/freeorion
GenericName=Free Masters of Orion Clone
Icon=freeorion
MimeType=
Name=Freeorion
Path=/opt/freeorion-svn
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Categories=Game;StrategyGame;
